
/**
* Nome do Projeto:
* Cliente:
* Agencia Responsavel:
* Agencia Produtora: Avanti Ageencia Digital
* Programador Responsavel:
* e-mail:
*/

/*******************************************************************************
* CSS Imports
********************************************************************************/


/*******************************************************************************
* Definição de Blocos
********************************************************************************/



/*******************************************************************************
* Formularios - Abaixo o coloque as alteracoes das definicoes "default"
********************************************************************************/


/*******************************************************************************
* Botoes - Abaixo o coloque as alteracoes das definicoes "default"
********************************************************************************/


/*******************************************************************************
* Estilizacao Elementos Base
********************************************************************************/

body{
	margin: 0; 
	padding: 0;
}

	.container
	{
		width: 960px;
		margin: 0 auto; 
	}

/*******************************************************************************
* Estilos Projeto
********************************************************************************/
#form_cont ul {
	padding:0px;
	margin:0px;
	background-color:#333333;
	list-style:none;
	float:right;
	color:#FFFFFF;
}
#form_cont ul li { display: inline; }

#form_cont_dois ul{
padding:0px;
	margin:0px;
	background-color:#333333;
	list-style:none;
	float:left;
	color:#FFFFFF;
}
#busca_um ul{
padding:10px;
	margin:10px;
	font-size:30px;
	list-style:none;
	float:left;
	color:#FFFFFF;
}


#form_cont_dois ul li { display: inline; }	
/***********************************
* PÃ¡gina Inicial [HOME]
************************************/
*{margin:0 padding:0; border:0}

body{background:#000000;padding:5px}

div#site_um{background:#999999; width:990px; margin:auto; padding:5px;}
	 
div#topo{background:#333333;height:120px;}

div#menu{background:#333333; height:30px; margin-top:5pix;}

div#conteudo{background:#333333; height:500px;width:750px;margin-top:5px;float:right;}

div#sidebar{background:#333; font-size:15; height:500px; margin-top:5px; width:235px;float:left;}

div#rodape{background:#333333; height:100px;clear:both;margin-top:5px;border:20;}	

div#menu{background:#333333; height:30px;clear:both;margin-top:5px;border:20;}

/***********************************
* Pagina 2
************************************/




/***********************************
* Pagina 3
************************************/




/***********************************
* Pagina 4
************************************/




/***********************************
* Pagina 5
************************************/