
/**
* Nome do Projeto:
* Cliente:
* Agencia Responsavel:
* Agencia Produtora: Avanti Ageencia Digital
* Programador Responsavel:
* e-mail:
*/

/*******************************************************************************
* CSS Imports
********************************************************************************/


/*******************************************************************************
* Definição de Blocos 
********************************************************************************/


/*******************************************************************************
* Formularios - Abaixo o coloque as alteracoes das definicoes "default"
********************************************************************************/


/*******************************************************************************
* Botoes - Abaixo o coloque as alteracoes das definicoes "default"
********************************************************************************/


/*******************************************************************************
* Estilizacao Elementos Base
********************************************************************************/

body{
	margin: 0; 
	padding: 0;
}

	.container
	{
		width: 960px;
		margin: 0 auto; 
	}

/*******************************************************************************
* Estilos Projeto
********************************************************************************/

/***********************************
* Página Inicial [HOME]
************************************/
	



/***********************************
* Pagina 2
************************************/




/***********************************
* Pagina 3
************************************/




/***********************************
* Pagina 4
************************************/




/***********************************
* Pagina 5
************************************/